@import "./theme.css";
@import "./neutrals.css";

* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	scrollbar-color: var(--themeTertiary) var(--gray160);
	scrollbar-width: thin;
}

body {
	background: var(--gray150);
	color: var(--gray10);
	fill: var(--gray10);
	stroke: var(--gray10);
	margin: 0;
	padding: 0;
}

.wait {
	cursor: wait !important;
}

.dialogBody {
	padding: 8px;
	overflow: hidden;
}

.marginRight {
	padding: 0px 8px 0px 8px;
}

a {
	color: var(--themePrimary);
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

svg {
	fill: var(--white);
	stroke: var(--white);
	stroke-width: 0.3;
}

.status {
	position: absolute;
	top: 10%;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--themePrimary);
	color: var(--white);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px var(--gray160);
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.middle {
	vertical-align: middle;
	align-items: center;
}

h3 {
	margin: 0;
	padding: 0;
	font-weight: lighter;
}

/* tables */

.textTable td {
	padding: 4px 8px;
}

table {
	border-collapse: collapse;
}

td {
	padding: 8px 4px;
	vertical-align: top;
	font-size: medium;
}

td.list {
	vertical-align: middle;
	white-space: nowrap;
}

.mainTable {
	height: 100vh;
}

.mainTable td {
	padding: 0px;
}

.dialogTable {
	width: 100%;
}

.dialogTable tr {
	height: 24px !important;
}

.dialogTable td {
	padding: 2px 4px;
	vertical-align: middle;
}

.dialogTable tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

thead {
	height: 26px;
	background: var(--themeDarker);
	color: var(--gray10);
}

thead tr {
	position: sticky;
	z-index: 5;
	background: inherit !important;
	color: inherit !important;
	border: none !important;
}

th {
	position: sticky;
	z-index: 5;
	padding: 0px 4px;
	top: 0;
	font-weight: 300;
	background: var(--themeDarker);
	color: var(--gray10);
	fill: var(--gray10);
	stroke: var(--gray10);
	border-bottom: 3px solid var(--themeDarker);
}

.stripes tr {
	border-top: 2px solid var(--gray20);
	border-bottom: 2px solid var(--gray20);
}

.stripes td {
	vertical-align: middle;
	padding: 0px 4px;
	white-space: nowrap;
}

.selected  {
	background: var(--themeDarkAlt) !important;
}

/* inputs */

input {
	background-color: var(--gray190);
	color: var(--gray20);
	border: 1px solid var(--gray20);
	height: 1.4rem;
	font-size: 1rem;
	border-radius: 2px;
}

input[type=radio] {
	margin-top: -2px;
	margin-left: 8px;
	margin-right: 0px;
}

input:focus {
	outline: none !important;
	border: 1px solid var(--themePrimary);
}

input:focus+label {
	color: var(--themePrimary);
}

input:disabled {
	background-color: var(--gray90);
}

textarea {
	background-color: var(--gray190);
	color: var(--gray20);
	border: 1px solid var(--gray20);
	font-size: 1rem;
	border-radius: 2px;
	resize: none;
}

textarea:focus {
	outline: none !important;
	border: 1px solid var(--themePrimary);
}

.table_input {
	width: calc(100% - 16px);
}

.table_select {
	width: calc(100% - 10px);
}

select {
	background-color: var(--gray190);
	color: var(--gray20);
	border: 1px solid var(--gray20);
	font-size: 1em;
	height: 1.6em;
	border-radius: 2px;
}

select:focus {
	outline: none !important;
	border: 1px solid var(--themePrimary);
}

option {
	font-size: 1em;
	background-color: var(--gray190);
	color: var(--gray20);
}

/* Toolbars */

.topBar {
	background: var(--gray190);
	padding-left: 8px;
	height: 36px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.topBar a {
	background: var(--gray190);
	color: var(--white);
	border: none;
	margin-left: 8px;
	margin-right: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
}

.topBar a:hover {
	color: var(--themePrimary);
	fill: var(--themePrimary);
	stroke: var(--themePrimary);
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.topBar a:hover svg {
	color: var(--themePrimary);
	fill: var(--themePrimary);
	stroke: var(--themePrimary);
}

.topBar a svg {
	color: var(--gray20);
	fill: var(--gray20);
	stroke: var(--gray20);
}

/* Buttons */

button {
	color: var(--white);
	background: var(--themeDarker);
	border: 1px solid var(--themeDarker);
	border-radius: 4px;
	font-size: 1em;
	text-align: center;
	margin: 4px;
	padding: 4px 8px;
	white-space: nowrap;
}

button:focus {
	outline: none !important;
	border: 1px solid var(--themePrimary);
}

button:hover {
	background: var(--themePrimary);
	border: 1px solid var(--themePrimary);
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.14, 0.71, 0.38, 1);
	transition-delay: 0s;
}

button:disabled {
	background: var(--gray110);
	border: 1px solid var(--gray110);
}

.selectedButton {
	color: var(--white) !important;
	stroke: var(--white) !important;
	background: var(--gray150);
	border-radius: 4px;
}

/* Dialogs */

.dialogRow {
	display: flex;
	flex-direction: row;
	padding: 0;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0;
}

.leftSide {
	background-color: var(--gray160);
	margin: 0 !important;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.rightSide {
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.toprow {
	display: flex;
	flex-direction: column;
	padding: 8px;
	margin: 0;
	flex: 0 1 auto;
}

.filler {
	flex-grow: 1 1 auto;
}

.bottomRow {
	display: flex;
	flex-direction: column;
	padding: 8px;
	margin: 0;
	flex: 0 1 auto;
}

label {
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

.column {
	display: flex;
	flex-direction: column;
}

.fill_width {
	width: 100%;
}

.fill_height {
	height: 100%;
}

.noWrap {
	white-space: nowrap;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	justify-content: flex-end;
	width: calc(100% - 48px);
}

.toprow a {
	color: inherit;
	fill: inherit;
	stroke: inherit;
	height: 24px;
	padding: 8px;
	white-space: nowrap;
}

.toprow a svg {
	color: var(--gray20);
	fill: var(--gray20);
	stroke: var(--gray20);
	vertical-align: middle;
}

.toprow a span {
	height: 32px;
	vertical-align: middle;
	padding-left: 8px;
}

.toprow a:hover {
	color: var(--themePrimary);
	fill: var(--themePrimary);
	stroke: var(--themePrimary);
	text-decoration: none !important;
}

.toprow a:hover svg {
	color: var(--themePrimary);
	fill: var(--themePrimary);
	stroke: var(--themePrimary);
}

.bottomRow a {
	color: inherit;
	fill: inherit;
	stroke: inherit;
	height: 32px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	white-space: nowrap;
}

.bottomRow a svg {
	color: var(--gray20);
	fill: var(--gray20);
	stroke: var(--gray20);
	vertical-align: middle;
}

.bottomRow a span {
	height: 32px;
	vertical-align: middle;
	padding-left: 8px;
}

.bottomRow a:hover {
	color: var(--themePrimary);
	fill: var(--themePrimary);
	stroke: var(--themePrimary);
	text-decoration: none !important;
}

.bottomRow a:hover svg {
	color: var(--themePrimary);
	fill: var(--themePrimary);
	stroke: var(--themePrimary);
}

.appStatus {
	position: fixed;
	bottom: 0;
	background: linear-gradient(to right, transparent, var(--themePrimary) 20%, var(--themePrimary) 80%, transparent 100%);
	padding: 4px;
	text-align: center;
}

.appStatus a {
	width: 100%;
	text-align: center;
	color: var(--white) !important;
}

.left {
	text-align: left;
}

.paddedArea {
	padding: 8px;
}

.paddedTop {
	padding-top: 4px;
}

.arrow-down:after {
	content: "\2193";
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: 4px;
}

.arrow-up:after {
	content: "\2191";
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: 4px;
}

.bordered {
	border: 1px solid var(--gray20);
	border-radius: 4px;
}

.topBorder {
	border-top: 1px solid var(--gray20);
}

.divContainer {
	/* Any container that needs to scroll content */
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
}

.statusLine {
	width: 100%;
	background-color: var(--gray160);
	border-top: 1px solid var(--gray20);
	color: var(--gray10);
	height: 24px;
}

.separator {
	height: 18px;
}

pre {
	white-space: pre-wrap;
	font-family: monospace;
}

/* tooltips */

.tooltip {
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.tooltip .tooltiptext {
	background-color: var(--themeLighterAlt);
	color: var(--black);
	visibility: hidden;
	padding: 4px;
	border-radius: 2px;
	white-space: nowrap;
	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

/* Tooltip arrow */
.bottomTooltip .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--themeLighterAlt) transparent;
}

.bottomRightTooltip .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--themeLighterAlt) transparent;
}

.bottomCenterTooltip .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 80px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--themeLighterAlt) transparent;
}

.topTooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--themeLighterAlt) transparent transparent transparent;
}

.topRightTooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--themeLighterAlt) transparent transparent transparent;
}

.topTooltip .tooltiptext {
	bottom: 140%;
	left: 0px;
}

.topRightTooltip .tooltiptext {
	bottom: 140%;
	right: 0px;
}

.bottomTooltip .tooltiptext {
	top: 140%;
	left: 0px;
}

.bottomCenterTooltip .tooltiptext {
	top: 140%;
	left: -80px;
}

.bottomRightTooltip .tooltiptext {
	top: 140%;
	right: 0px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}