:root {
    --black: #000000;
    --gray190: #1f1b1b;
    --gray160: #312c2c;
    --gray150: #393434;
    --gray130: #5e5959;
    --gray110: #898484;
    --gray90: #9e9a9a;
    --gray60: #cbc3c3;
    --gray50: #dbd3d3;
    --gray40: #eae3e3;
    --gray30: #f3ece6;
    --gray20: #f7f3ef;
    --gray10: #fcf8f3;
    --white: #ffffff;
}